<h2>Dashboard</h2>
<h4>Welcome
  <%= user.firstName %>
</h4>
<p>here are your stories</p>


<% if(stories.length>0) { %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Date Created</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% stories.forEach(story=>{%>
        <tr>
          <td>
            <a href="/stories/show/<%=story._id %>">
              <%= story.title %>
            </a>
          </td>
          <td>
            <%= formatDate(story.createdAt, 'MMMM Do YYYY, h:mm:ss a') %>
          </td>
          <td>
            <span class="dash-status"><%= story.status %></span>
          </td>

          <td>


            <a href="/stories/edit/<%= story._id %>" class="btn btn-sm btn-info rounded-circle" title="Edit"><i class="fas fa-edit"></i></a>
            <form action="/stories/<%= story._id %>?_method=DELETE" method="post" class="d-inline">
              <button type="submit" class="btn btn-sm btn-danger rounded-circle" title="Delete"><i class="fas fa-trash"></i></button>
            </form>


          </td>
          <td></td>
        </tr>
        <% }) %>
    </tbody>
  </table>

  <%  }else { %>
    <p>You have not created any stories</p>
    <% } %>
      <%- include('../partials/_add_btn.ejs') %>